@import "tailwindcss";

:root {
  --background: #fbfaee;
  --foreground: #271310;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-noto-serif);
  --font-mono: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
  background-image:
    radial-gradient(circle at top left, rgba(114, 90, 57, 0.08), transparent 28%),
    radial-gradient(circle at bottom right, rgba(62, 39, 35, 0.08), transparent 32%);
  background-attachment: fixed;
}
